.admin_{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    color: #ff014f;
}
.admin_1{
    padding: 1rem;
    width: 100%;
   display: flex;
   justify-content: space-between;
   background: linear-gradient(145deg, #23272b, #1e2024);
   box-shadow: 5px 5px 10px #0f1012,
       -5px -5px 10px #33383e;
     transition: all 0.4s ease-in-out;
   display: flex;
   align-items: center;
   justify-content:space-between; 
}
.home_icon{
     cursor: pointer;
    font-size: 2rem;
}

.extra{
    height: 25vh;
    width: 70%;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 6px;
    border-radius: 10px;
        background: linear-gradient(145deg, #23272b, #1e2024);
        box-shadow: 5px 5px 10px #0f1012,
            -5px -5px 10px #33383e;
          transition: all 0.4s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;  
}
.extra h3{
    width: fit-content;
    border: none;
}
.extra:hover{
    cursor: pointer;
    transform: scale(0.93);
}