.message__{
   width: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #ff014f;
}
.message_box{
    background: linear-gradient(145deg, #23272b, #1e2024);
   box-shadow: 5px 5px 10px #0f1012,
       -5px -5px 10px #33383e;
     transition: all 0.4s ease-in-out;
     padding: 1rem;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     gap:6px;
}